@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
            box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none !important;
    text-transform: capitalize;
    transition: all .2s linear;

  }
  
  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8.5rem;
  }
  
  html::-webkit-scrollbar {
    width: 1.3rem;
  }
  
  html::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
  }
  
  html::-webkit-scrollbar-thumb {
    background: #27ae60;
    border-radius: 5rem;
  }
  
  section {
    padding: 2rem 9%;
  }
  
  .header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
            box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem 9%;

  }

  .header .logo .main-logo{
    font-size: 3.5rem;
  }
  
  .header .logo {
    font-size: 2.3rem;
    font-weight: bold;
    color: #130f40;
    font-family: 'bad script', cursive;
    text-decoration: none;
  }
  
  .header .logo i {
    padding-right: .5rem;
    color: #27ae60;
  }
  
  .header .navbar a {
    font-size: 1.7rem;
    margin: 0 1.5rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  
  .header .navbar a:hover {
    color: #27ae60;
    text-decoration: none;
  }
  
  .header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    background: #f7f7f7;
    color: #130f40;
    border-radius: .5rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
  }
  
  .header .icons div:hover {
    color: #fff;
    background: #27ae60;
  }
  
  #menu-btn {
    display: none;
  }
  
  @-webkit-keyframes fadeUp {
    0% {
              transform: translateY(5rem);
      opacity: 0;
    }
  }
  
  @keyframes fadeUp {
    0% {
              transform: translateY(5rem);
      opacity: 0;
    }
  }
  
  .search-form-container {
    position: fixed;
    top: 8.5rem;
    left: 0;
    right: 0;
    height: calc(100vh - 8.5rem);
    background: #fff;
    z-index: 1000;
    display: none;
  }
  
  .search-form-container.active {
    display: block;
  }
  
  .search-form-container form {
    height: 7rem;
    border-bottom: 0.2rem solid #130f40;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            animation: fadeUp .4s linear;
  }
  
  .search-form-container form input {
    height: 100%;
    width: 100%;
    font-size: 1.7rem;
    color: #130f40;
    text-transform: none;
    padding-right: 1rem;
  }
  
  .search-form-container form label {
    font-size: 3rem;
    cursor: pointer;
    color: #130f40;
  }
  
  .search-form-container form label:hover {
    color: #27ae60;
  }
  
  .shopping-cart-container {
    position: fixed;
    top: 8.5rem;
    left: 0;
    right: 0;
    z-index: 1000;
    height: calc(100vh - 8.5rem);
    background: #fff;
    overflow-y: scroll;
    padding-bottom: 8rem;
    display: none;
  }
  
  .shopping-cart-container.active {
    display: block;
  }
  
  .shopping-cart-container::-webkit-scrollbar {
    width: 1rem;
  }
  
  .shopping-cart-container::-webkit-scrollbar-track {
    background: #fff;
  }
  
  .shopping-cart-container::-webkit-scrollbar-thumb {
    background: #130f40;
    border-radius: 5rem;
  }
  
  .shopping-cart-container .title {
    font-size: 2.5rem;
    padding: 1rem;
    color: #130f40;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .shopping-cart-container .products-container {
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
            animation: fadeUp .4s linear;
  }
  
  .shopping-cart-container .products-container .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    padding: 1.5rem;
  }
  
  .shopping-cart-container .products-container .box-container .box {
    border-radius: .5rem;
    background: #f7f7f7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    position: relative;
  }
  
  .shopping-cart-container .products-container .box-container .box .fa-times {
    position: absolute;
    top: .7rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: #130f40;
  }
  
  .shopping-cart-container .products-container .box-container .box .fa-times:hover {
    color: #27ae60;
  }
  
  .shopping-cart-container .products-container .box-container .box img {
    height: 8rem;
  }
  
  .shopping-cart-container .products-container .box-container .box .content h3 {
    font-size: 2rem;
    color: #130f40;
  }
  
  .shopping-cart-container .products-container .box-container .box .content span {
    font-size: 1.5rem;
    color: #666;
  }
  
  .shopping-cart-container .products-container .box-container .box .content span.price {
    color: #27ae60;
    font-size: 1.7rem;
  }
  
  .shopping-cart-container .products-container .box-container .box .content input {
    width: 8rem;
    padding: .5rem 1.2rem;
    font-size: 1.5rem;
    color: #130f40;
    margin: .7rem 0;
  }
  
  .shopping-cart-container .cart-total {
    margin-top: 2rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
            animation: fadeUp .4s linear .4s backwards;
  }
  
  .shopping-cart-container .cart-total .box {
    padding: 1.5rem;
    text-align: center;
  }
  
  .shopping-cart-container .cart-total .box h3 {
    color: #130f40;
    font-size: 2rem;
    padding-bottom: .7rem;
  }
  
  .shopping-cart-container .cart-total .box h3 span {
    color: #27ae60;
    
  }
  
  .login-form-container {
    position: fixed;
    top: 8.5rem;
    left: 0;
    right: 0;
    z-index: 1000;
    height: calc(100vh - 8.5rem);
    background: #fff;
    padding: 0 2rem;
    display: none;
  }
  
  .login-form-container.active {
    display: block;
  }
  
  .login-form-container form {
    margin: 2rem auto;
    max-width: 40rem;
            box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: .5rem;
            animation: fadeUp .4s linear;
  }
  
  .login-form-container form h3 {
    padding-bottom: 1rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #130f40;
  }
  
  .login-form-container form .box {
    margin: .7rem 0;
    border-radius: .5rem;
    background: #f7f7f7;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: #130f40;
    text-transform: none;
    width: 100%;
  }
  
  .login-form-container form .remember {
    padding: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .5rem;
  }
  
  .login-form-container form .remember label {
    font-size: 1.5rem;
    cursor: pointer;
    color: #666;
  }
  
  .login-form-container form .btn {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }
  
  .login-form-container form p {
    padding-top: 1rem;
    font-size: 1.5rem;
    color: #666;
  }
  
  .login-form-container form p a {
    color: #27ae60;
  }
  
  .login-form-container form p a:hover {
    color: #130f40;
    text-decoration: underline;
  }

  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        flex-wrap: wrap-reverse;
    gap: 2rem;
    position: relative;
    overflow: hidden;
  }
  
  .home .content {
    -webkit-box-flex: 1;
            flex: 1 1 41rem;
  }
  
  .home .content span {
    font-size: 2rem;
    color: #27ae60;
  }
  
  .home .content h3 {
    font-size: 4rem;
    color: #130f40;
    padding-top: 1rem;
  }
  
  .home .content p {
    font-size: 1.4rem;
    color: #666;
    line-height: 2;
    padding: 1rem 0;
  }
  
  .home .image {
    -webkit-box-flex: 1;
            flex: 1 1 41rem;
    margin: 2rem 0;
    pointer-events: none;
  }
  
  .home .image .home-img {
    width: 100%;
    animation:float 3s linear infinite;
    padding:1rem;

  }

  .home .home-parallax-img {
    position: absolute;
    top: -10rem;
    right: -10rem;
    width: 80vw;
  }

  @keyframes float{
    0%, 100%{
      transform: translateY(0rem);
    }
    50%{
      transform: translateY(3rem);
    }
  } 

  .category {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
    padding-bottom: 5rem;
  }
  
  .category .box {
    padding: 2rem;
    text-align: center;
    border-radius: .5rem;
    background: #ffffff;
    text-decoration: none;
    border: solid 1px rgb(192, 192, 192);
  }
  
  .category .box:hover {
    box-shadow: 2px 2px 4px rgb(138, 138, 138),-2px -2px 4px rgb(138, 138, 138);
  }

  .category .box img {
    height: 7rem;
  }
  
  .category .box h3 {
    font-size: 1.8rem;
    color: #130f40;
  }


  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
    background: #f7f7f7;
  }
  
  .about .image {
    -webkit-box-flex: 1;
            flex: 1 1 40rem;
  }
  
  .about .image img {
    width: 100%;
  }
  
  .about .content {
    -webkit-box-flex: 1;
            flex: 1 1 40rem;
  }
  
  .about .content span {
    font-family: 'Satisfy', cursive;
    font-size: 4rem;
    color: #27ae60;
  }
  
  .about .content .title {
    font-size: 3rem;
    padding-top: .5rem;
    color: #130f40;
  }
  
  .about .content p {
    padding: 1rem 0;
    line-height: 2;
    font-size: 1.4rem;
    color: #666;
  }
  
  .about .content .icons-container {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: .6rem;
  }
  
  .about .content .icons-container .icons {
    -webkit-box-flex: 1;
            flex: 1 1 20rem;
    border-radius: .5rem;
    background: rgb(247, 247,247);
            box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
    padding: 2rem;
  }

  .about .content .icons-container .icons:hover{
    box-shadow: 2px 2px 4px rgb(167, 167, 167);
    cursor: pointer;
  }
  
  .about .content .icons-container .icons h3 {
    font-size: 1.7rem;
    color: #130f40;
  }

  .heading {
    text-align: center;
    padding-bottom: 2rem;
  }
  
  .heading span {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    color: #27ae60;
  }
  
  .heading h3 {
    font-size: 3rem;
    color: #130f40;
  }

  .popular .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
  }
  
  .popular .box-container .box {
    border-radius: .5rem;
    position: relative;
    padding: 2rem;
    text-align: center;
    background: #fff;
    border: solid 1px rgb(192, 192, 192);
  }

  .popular .box-container .box:hover{
    box-shadow: 2px 2px 4px rgb(138, 138, 138),-2px -2px 4px rgb(138, 138, 138);

  }
  
  .popular .box-container .box .fa-heart {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2.5rem;
    color: #666;
    cursor: pointer;
  }
  
  .popular .box-container .box .fa-heart:hover {
    color: #27ae60;
  }
  
  .popular .box-container .box .image {
    margin: 1rem 0;
  }
  
  .popular .box-container .box .image img {
    height: 15rem;
  }
  
  .popular .box-container .box .content h3 {
    font-size: 2rem;
    color: #130f40;
  }
  
  .popular .box-container .box .content .stars {
    padding: 1rem 0;
    font-size: 1.7rem;
  }
  
  .popular .box-container .box .content .stars i {
    color: gold;
  }
  
  .popular .box-container .box .content .stars span {
    color: #666;
  }
  
  .popular .box-container .box .content .price {
    font-size: 2rem;
    color: #130f40;
  }
  
  .popular .box-container .box .content .price span {
    font-size: 1.5rem;
    color: #666;
    text-decoration: line-through !important;
  }

  .banner .row-banner {
    background: url(./image/row-banner.png) no-repeat;
    height: 45rem;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .banner .row-banner .content {
    position: absolute;
    top: 50%;
    left: 7%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .banner .row-banner .content span {
    font-family: 'Satisfy', cursive;
    font-size: 4rem;
    color: #27ae60;
    color: #130f40;
  }
  
  .banner .row-banner .content h3 {
    font-size: 6rem;
    color: red;
    text-transform: uppercase;
  }
  
  .banner .row-banner .content p {
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  
  .banner .grid-banner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  }
  
  .banner .grid-banner .grid {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    height: 45rem;
  }
  
  .banner .grid-banner .grid:hover img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  
  .banner .grid-banner .grid img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .banner .grid-banner .grid .content {
    position: absolute;
    top: 2rem;
    padding: 0 2rem;
  }
  
  .banner .grid-banner .grid .content.center {
    text-align: center;
    width: 100%;
  }
  
  .banner .grid-banner .grid .content.center span {
    color: #666;
  }
  
  .banner .grid-banner .grid .content.center h3 {
    color: #130f40;
  }
  
  .banner .grid-banner .grid .content span {
    font-size: 2.5rem;
    color: #fff;
  }
  
  .banner .grid-banner .grid .content h3 {
    font-size: 3rem;
    color: #fff;
    padding-top: .5rem;
  }

  .speciality .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .speciality .box-container .box{
    flex:1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.3);
    cursor: pointer;
    border-radius: .5rem;
  }
  
  .speciality .box-container .box .image{
    height:100%;
    width:100%;
    object-fit: cover;
    position: absolute;
    top:-100%; left:0;
  }
  
  .speciality .box-container .box .content{
    text-align: center;
    background:#fff;
    padding:2rem;
  }
  
  .speciality .box-container .box .content img{
    margin:1.5rem 0;
  }
  
  .speciality .box-container .box .content h3{
    font-size: 2.5rem;
    color:#333;
  }
  
  .speciality .box-container .box .content p{
    font-size: 1.6rem;
    color:#666;
    padding:1rem 0;
  }
  
  .speciality .box-container .box:hover .image{
    top:0;
  }
  
  .speciality .box-container .box:hover .content{
    transform: translateY(100%);
  }

  .blogs .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  }
  
  .blogs .box-container .box {
    border-radius: .5rem;
    overflow: hidden;    
  }
  
  .blogs .box-container .box:hover .image h3 {
    left: 1.5rem;
  }
  
  .blogs .box-container .box:hover .image img {
            transform: scale(1.1);
  }
  
  .blogs .box-container .box .image {
    position: relative;
    height: 25rem;
    overflow: hidden;
    width: 100%;
  }
  
  .blogs .box-container .box .image h3 {
    position: absolute;
    z-index: 10;
    top: 1rem;
    left: -100%;
    border-radius: .5rem;
    padding: .5rem 1rem;
    background: #fff;
    color: #130f40;
    font-size: 1.5rem;
  }
  
  .blogs .box-container .box .image h3 i {
    padding-right: .5rem;
    color: #27ae60;
  }
  
  .blogs .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .blogs .box-container .box .content {
    padding: 2rem 1.5rem;
    background: #f7f7f7;
  }
  
  .blogs .box-container .box .content .tags {
    padding-bottom: 1rem;
  }
  
  .blogs .box-container .box .content .tags a {
    font-size: 1.5rem;
    color: #666;
    padding-right: .5rem;
  }
  
  .blogs .box-container .box .content .tags a:hover {
    color: #27ae60;
  }
  
  .blogs .box-container .box .content .tags a i {
    color: #27ae60;
    padding-right: .5rem;
  }
  
  .blogs .box-container .box .content h3 {
    font-size: 2rem;
    color: #130f40;
  }
  
  .blogs .box-container .box .content p {
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
    line-height: 2;
  }
  
  .footer {
    background: #f7f7f7;
  }
  
  .footer .newsletter {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .footer .newsletter h3 {
    font-size: 2.5rem;
    color: #130f40;
    padding-bottom: 1rem;
  }
  
  .footer .newsletter form {
    max-width: 70rem;
    margin: 1rem auto;
    max-width: 70rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: .5rem;
    overflow: hidden;
  }
  
  .footer .newsletter form input[type="email"] {
    height: 100%;
    width: 100%;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: #130f40;
    text-transform: none;
  }
  
  .footer .newsletter form input[type="submit"] {
    padding: 0 2rem;
    font-size: 1.6rem;
    color: #fff;
    background: #27ae60;
    cursor: pointer;
  }

  .footer .box-container .box{
    margin: 0 auto;
     width: 40%; 

  }
  
  .footer .box-container .box .f-h3 {
    font-size: 2.2rem;
    color: #130f40;
    padding: 1rem 0;
    max-width: 130px;
    margin: 0 auto;
  }

  .footer .box-container .box .t-h3 {
    font-size: 2.2rem;
    color: #130f40;
    padding: 1rem 0;
    max-width: 170px;
    margin: 0 auto;
  }

  
  .footer .box-container .box p {
    font-size: 1.4rem;
    color: #666;
    padding: 0.5rem 0;
    max-width: 130px;
    margin: 0 auto;

  }
  
  .footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
    max-width: 130px;
    margin: 0 auto;
  }
  
  .footer .box-container .box a:hover {
    color: #27ae60;
    text-decoration: none;
  }
  
  .footer .box-container .box a:hover i {
    padding-right: 2rem;
  }
  
  .footer .box-container .box a i {
    padding-right: .5rem;
    color: #27ae60;
  }
  
  .footer .bottom {
    padding-top: 1rem;
    text-align: center;
  }
  
  .footer .bottom .share {
    margin: 1.5rem 0;
  }
  
  .footer .bottom .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    margin: 0 .3rem;
    color: #fff;
    background: #27ae60;
  }
  .footer .bottom .share a:nth-child(1):hover{
    color: red;
    background-color: rgb(255, 255, 255);
    border: 1px solid red;
  }
  .footer .bottom .share a:nth-child(2):hover{
    color: #fff;
    background-color: rgb(59, 89, 153);
  }
  .footer .bottom .share a:nth-child(3):hover{
     color: #fff;
    background-color: rgb(49, 114, 255);
  }
  .footer .bottom .share a:nth-child(4):hover{
    color:#fff;
    background: linear-gradient(#515bd4, #8134af, #dd2a7b, #feda77, #f58529);
  }
  .footer .bottom .share a:nth-child(5):hover{
    color: #fff;
    background-color: red;
  }
  
  .footer .bottom .credit {
    font-size: 2rem;
    color: #666;
    padding: 1rem;
    font-family: serif;
    background-color: rgb(233, 233, 233);
  }
  .footer .bottom .credit span {
    color: #000;
    font-family: 'bad script',cursive;
    font-weight: bold;
  }
  .footer .bottom .credit span:hover{
    color: #27ae60;
    cursor: pointer;
  }

  .order .icons-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .order .icons-container .icons {
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    background: #f7f7f7;
  }
  
  .order .icons-container .icons img {
    height: 5rem;
    margin: 3rem;
  }
  
  .order .icons-container .icons h3 {
    font-size: 2rem;
    color: #130f40;
    margin-top: .5rem;
  }
  
  .order form {
    background: #f7f7f7;
    padding: 2rem;
    border-radius: .5rem;
  }
  
  .order form .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .order form .flex .inputBox {
    width: 49%;
    padding: .7rem 0;
  }
  
  .order form .flex span {
    font-size: 1.7rem;
    color: #666;
  }
  
  .order form .flex input, .order form .flex textarea {
    width: 100%;
    margin-top: .5rem;
    padding: 1rem 1.2rem;
    width: 100%;
    border-radius: .5rem;
    font-size: 1.6rem;
    text-transform: none;
    color: #130f40;
  }
  
  .order form .flex textarea {
    height: 20rem;
    resize: none;
  }
  
  .order form .flex .map {
    height: 100%;
    width: 100%;
    border-radius: .5rem;
  }


.btn{
    display: inline-block;
    padding:.8rem 3rem;
    border: solid 2px #27ae60 ;
    color: #27ae60;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
    background: transparent;
  }
  
.btn::before{
    content: '';
    position: absolute;
    top:0; right: 0;
    width:0%;
    height:100%;
    background: #27ae60;
    transition: .3s linear;
    z-index: -1;
  }
  
 .btn:hover::before{
    width:100%;
    left: 0;
  }

.btn:hover{
    color:#fff;
  }

.view-more{
  color: #ffffff !important;
  background-color: #27ae60 !important;
  display: block !important;
  margin: 20px auto !important;
  width: 200px;
margin-top: 5rem !important;
margin-bottom: 0% !important;
}

.view{
  display: none;
}

  .main-contact{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px  0;
  }

  .contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
  }
  
  .left{
    background: url("image/hb\ restaurant.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-size: auto;
  }
  
  .right{
    padding: 25px 40px;
  }

  .right .label{
    font-size: 13px;
  }
  
  h2{
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  h2:after{
    content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      height: 4px;
      width: 50px;
      border-radius: 2px;
      background-color: #2ecc71;
  }
  
  .field{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
  }
  
  .field:hover{
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  textarea{
    min-height: 150px;
  }

  .field:focus{
      border: 2px solid rgba(30,85,250,0.47);
      background-color: #fff;
  }
  
  .gallery .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .gallery .box-container .box{
    height:25rem;
    flex:1 1 30rem;
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
  }
  
  .gallery .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
  }
  
  .gallery .box-container .box .content{
    position: absolute;
    top:-100%; left:0;
    height: 100%;
    width:100%;
    background:rgba(255,255,255,.9);
    padding:2rem;
    padding-top: 3.5rem;
    text-align: center;
  }
  
  .gallery .box-container .box .content h3{
    font-size: 2.5rem;
    color:#333;
  }
  
  .gallery .box-container .box .content p{
    font-size: 1.5rem;
    color:#666;
    padding:1rem 0;
  }
  
  .gallery .box-container .box:hover .content{
    top:0;
  }

  .review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .review .box-container .box{
    text-align: center;
    padding:2rem;
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    border-radius: .5rem;
    flex:1 1 30rem;
    background:#333;
    margin-top: 6rem;
  }
  
  .review .box-container .box img{
    height: 12rem;
    width:12rem;
    border-radius: 50%;
    border:1rem solid #fff;
    margin-top: -8rem;
    object-fit: cover;
  }
  
  .review .box-container .box h3{
    font-size: 2.5rem;
    color:#fff;
    padding:.5rem 0;
  }
  
  .review .box-container .box .stars i{
    font-size: 2rem;
    color:rgb(39, 174, 96);
    padding:.5rem 0;
  }
  
  .review .box-container .box p{
    font-size: 1.5rem;
    color:#eee;
    padding:1rem 0;
  }

  #loader-container{
    position: fixed;
    top:0; left:0;
    height:100%; 
    width:100%;
    z-index: 10000;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  #loader-container img{
    width:35rem;
  }
  
  #loader-container.fade-out{
    top:-110%;
    opacity:0;
  }


@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media screen and (max-width: 880px){
  .contact-box{
    grid-template-columns: 1fr;
  }
  .left{
    height: 200px;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .navbar a {
    font-size: 2rem;
    margin: 2rem;
    display: block;
  }
  .home .home-parallax-img {
    top: 0;
    right: 0;
    width: 130%;
  }
  .order form .flex .inputBox {
    width: 100%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .shopping-cart-container .cart-total .box {
    text-align: center;
    
  }
  .shopping-cart-container .cart-total .box .btn {
    width: 100%;
  }
  .home .content h3 {
    font-size: 3rem;
  }
  .home .content p {
    font-size: 1.5rem;
  }
  .header .navbar a{
    margin: 4px 0%;
    padding:  0%;
    display: block !important;
    width: 100%;
  }
}

@media only screen and (max-width: 320px){
  .footer .box-container .box a {
    font-size: 1rem;
  }
  .footer .box-container .open-hour p{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 280px) {
  .header{
   margin: 0% !important;
   padding: 8px 0% !important;
  }
  .header .logo .main-logo{
    font-size: 3rem;
  }
  .header .logo{
    margin: 0% !important;
    padding: 0% !important;
    font-size: 2rem !important;
  }
 .icons{
   margin: 1px !important;
   padding: 1px !important;
 }
}

